{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="theme-color" content="#E7000B">
  <title>{% block title %}Attendance{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">
</head>
<body>
  <header>
    <div>
      <b>ENTERPRENURSHIP DEVELOPMENT PROGRAMME ATTENDANCE</b>
    </div>
    {% if request.user.is_authenticated %}
      <nav>
        <a href="/dashboard/">Dashboard</a>
        {% if request.user.is_staff or request.user.facultyprofile %}
          <a href="/faculty/students/">Students</a>
          <a href="/faculty/attendance/">Attendance</a>
        {% endif %}
        <a class="btn light" href="/logout/">Logout</a>
      </nav>
    {% endif %}
  </header>
  <main>
    {% for m in messages %}
      <div class="alert">{{ m }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
  <script src="{% static 'js/register-sw.js' %}"></script>
</body>
</html>

